SERVER_HOST=http://localhost:8000
DEBUG=True
AUTH_TOKEN_LIFETIME_SECONDS=3600
SECRET_KEY=changeme
BACKEND_CORS_ORIGINS=["http://localhost:8000"]
{% if cookiecutter.use_sentry == 'y' -%}
# SENTRY_DSN=
{% endif -%}
PAGINATION_PER_PAGE=20

DATABASE_URI={% if cookiecutter.database == "Tortoise" %}postgres://postgres:postgres@localhost:5432/{{cookiecutter.project_slug}}{% endif %}{% if cookiecutter.database == "Beanie" %}mongodb://localhost:27017/{{cookiecutter.project_slug}}{% endif %}
REDIS_URL=redis://localhost:6379/0

{% if cookiecutter.mail_service == 'Other SMTP' -%}
SMTP_PORT=
SMTP_HOST=
SMTP_USERNAME=
SMTP_PASSWORD=
{% endif -%}

DEFAULT_FROM_EMAIL=noreply@example.com
DEFAULT_FROM_NAME=
FIRST_SUPERUSER_EMAIL=admin@example.com
FIRST_SUPERUSER_PASSWORD=changethis

{% if cookiecutter.mail_service == 'Amazon SES' -%}
SES_ACCESS_KEY=
SES_SECRET_KEY=
SES_REGION=
{% endif -%}
