<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Title -->
    <title>{% block title %}{% endraw %}{{ cookiecutter.project_name }}{% raw %}{% endblock title %}</title>

    <!-- Favicon -->
    <link href="/static/favicon.ico" rel="shortcut icon">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    {% block css %}{% endblock %}
    {% block javascript %}
    <script defer src="/static/js/htmx.js"></script>
    {% block javascript %}
</head>

<body>
{% block content %}{% endblock content %}
</body>
</html>
